/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        margin-right: .7em;
    }
    
    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

}

/* SITE FOOTER */
.site-footer {
    background: black; 
    display: flex;
    padding: 3em 1em;
    justify-content: center;
    
    a {
        color: white;
        text-decoration: none;
    }

    h2,h3 {
        font-size: x-large;
    }

    .row {
        align-items: flex-start;
        justify-content: space-between;
    }

    .column {
        min-width: 10%;
    }
}

.site-main {
    overflow-x: hidden;
}


section {
    padding: 4em 0;
    min-height: 101vh;
    display: flex;
    align-items: center;
}


/* HERO SECTION */
.hero {
    background-color: $color-accent-dark;
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 50vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .25em;
        color: $color-text-headings-light;
    }
    p {
        margin: 1em auto;
        color: $color-text-headings-light;
    }

    .product-wrapper-card {
        background-color: #E00786;
        border-radius: 30px;
        position: relative;
    }

    .hand-written {
        font-family: $font-family-sans-serif;
        color: #E33157;
    }

    .arrival-tag {
        background-color: white;
        border-radius: 1px;
        width: 100px;

        h6 {
            font-weight: 100;
        }

        h4 {
            color: #EEC41A;
        }
    }
}

.hero .arrival-tag {
    position: absolute;
    top: 0;
    left: 80%;
    transform: translateX(-50%);
}



